---
import DocsLayout from "../layouts/DocsLayout.astro";
---

<DocsLayout title="2d 服文档库" description="2d 服文档库，收录 2d 服相关教程。">
  <h1>2d 服文档库</h1>

  <ul class="doc-index">
    <li>
      <a href="/docs/queqiao/">面向新手的使用鹊桥搭建 MC 服务器 QQ 互联指南</a>
    </li>
  </ul>
</DocsLayout>
